.main {
  width: 100%;
  min-height: 100vh;
  background-image: url("/images/JTK-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*overflow: hidden;*/
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.logoContainer {
  /*margin-top: 1rem;*/
  opacity: 0;
  transform: translateY(50px);
  animation: fadeUpAnimation 1s ease forwards;
}

.logo {
  width: 400px;
  height: auto;
}

.exploreContainer {
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeUpAnimation 1s ease forwards 0.3s;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.getReady {
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.explore {
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.japan {
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.flowerIcon {
  font-size: 2.5rem;
  vertical-align: middle;
}

.signupButton {
  background-color: #c30000;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.8rem 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  /*margin-top: 2rem;*/
  margin-bottom: 8rem;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
  transition: transform 0.2s, background-color 0.2s;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeUpAnimation 1s ease forwards 0.6s;
}

.signupButton:hover {
  background-color: #8f0000;
  transform: translateY(-2px);
}

.signupButton:active {
  transform: translateY(0);
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*@media (max-width: 768px) {*/
/*  .title {*/
/*    font-size: 2rem;*/
/*  }*/

/*  .getReady {*/
/*    font-size: 1.5rem; !* モバイル用フォントサイズ調整 *!*/
/*  }*/

/*  .explore,*/
/*  .japan {*/
/*    font-size: 3.5rem; !* モバイル用フォントサイズ調整 *!*/
/*  }*/

/*  .signupButton {*/
/*    font-size: 1.5rem; !* モバイル用フォントサイズ調整 *!*/
/*    padding: 1rem 3.5rem;*/
/*  }*/
/*}*/

/*@media (max-height: 700px) {*/
/*  .container {*/
/*    padding-top: 1rem;*/
/*    padding-bottom: 1rem;*/
/*  }*/

/*  .logoContainer {*/
/*    margin-top: 1.5rem;*/
/*  }*/

/*  .signupButton {*/
/*    margin-bottom: 2rem;*/
/*  }*/
/*}*/
